body {
    /*background-color: rgb(0, 45, 74);*/
    color: white;
    --tw-bg-opacity: 1;
    background: rgb(17 24 39/var(--tw-bg-opacity));

    /* AGREGAR IMAGEN
    background-image: url('../img/JOSEFI.jpg'); /* Ruta relativa dentro del proyecto 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

/*luego se borraran*/
.header{
    border: solid 1px black;

}
.navbar{
    border: solid 1px black;
}

/*Estilos para el navbar y cabezera*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    margin-left: 35px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(135, 170, 235);
}

.navbar .container{
    display: flex;
    flex-direction: column;
}

/*Estilo de boton despegable del navbar*/
#navbarNavAltMarkup a{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}


.container button{
    /*--tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));*/
    background-color: rgb(151, 151, 151);
    margin-right: 10px;
}

/*Estilos de mi nombre como logo*/
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover{
    color: rgb(135, 170, 235);
}




/*se agregarán estilos a cada sección*/

/*Sobre mi con la fotografia*/

#sobremi{
    height: 100vh;
}

.img-personal {
    display: flex;
    width: 350px; 
    height: 350px;
    border-radius: 50%; 
    border: 10px solid transparent;
}

.sobre-mi h1{
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))
}

.sobre-mi{
    max-width: 600px;
    border: solid 2px black;
}

.contenedor-sobre-mi{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

/*Estilos generales de la letra y espaciado de las otras secciones*/
.mas-info{
    padding: 50px 15px;
    text-align: center;
}

.mas-info h1{
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}


/*Mis habilidades*/
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.skills-container{
    margin: 0px auto;
    padding: 40px 20px;
    width: 60%;
}

.skills-container h5{
    text-align: center; 
    border-radius: 10px;
    padding: 5px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}



/*Certificados*/
#certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.certificados-container{
    margin: 0px auto;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding: 30px 15px;
    width: 70%;
}

.certificados-container .certis{
    --tw-bg-opacity: 1;
    background-color:#003366;
    border-radius: 10px;
    padding: 15px;
}

.certis a{
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
    background: none; 
    border: none; 
    padding: 0;
}

/*Proyectos*/
#proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-bottom: 100px;
}

.proyectos-container{
    border-radius: 10px;
    margin: 0px auto;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding: 30px 15px;
    width: 70%;
}

.proyectos-container .projects{
    --tw-bg-opacity: 1;
    background-color:#003366;
    border-radius: 10px;
    padding: 15px;
}

.proyectos-container img{
    --tw-bg-opacity: 1;
    display: block; 
    margin: 15px auto ;
    border-radius: 10px;
    border: 4px solid rgb(135 170 235 / var(--tw-bg-opacity));

}

.projects a{
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}

/*Footer*/
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));  
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}

.footer-redes a{
    text-decoration: none;
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}

.footer-redes i{
    margin-right: 15px;
    font-size: 25px;
    color: white;
}









@media (max-width: 1120px) {
 
    .contenedor-sobre-mi{
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }
    .sobre-mi{
        border: solid 4px black;
    }

    .mas-info{
        margin-top: 100px;
    }

    .skills-container{
        width: 100%;
    }
   

    .certificados-container{
        width: 350px
    }
    
    .certificados-container .certis{
        width: 300px;
    }






    .proyectos-container{
        width: 350px
    }
    
    .proyectos-container .projects{
        width: 300px;
    }

}