body {
    color: white;
    --tw-bg-opacity: 1;
    background: rgb(17 24 39/var(--tw-bg-opacity));
    background: linear-gradient(rgba(3, 8, 31, 0.686), rgba(2, 6, 23, 0.744)),
        url('../img/wallpaper/galaxy_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden; 

}

/*AJUSTE PARA CELULARES*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(3, 8, 31, 0.686), rgba(2, 6, 23, 0.744)),
        url('../img/wallpaper/galaxy_background.png') center/cover no-repeat;
    z-index: -1; 
}

body h1 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 50px;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))
}

p,
li,
a,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


/*Estilos para el navbar y cabezera*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    /* Asegura que el header esté por encima del fondo */
}

.navbar a {
    margin-left: 35px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(135, 170, 235);
}

.navbar .container {
    display: flex;
    flex-direction: column;
}

/*Estilo de boton despegable del navbar*/
#navbarNavAltMarkup a {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

#navbarNavAltMarkup{
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    border-radius: 30px;
}

.container button {
    background-color: rgba(169, 169, 169, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    margin-right: 10px;
}

/*Estilos de mi nombre como logo*/
.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    color: rgb(135, 170, 235);
}


/*Inicio con mi nombre y Redes de comunacion*/

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.inicio {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.inicio #redes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    z-index: 10;


}

.inicio #redes a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    box-shadow: 0 5px 9px rgb(66, 0, 120);
    transition: transform 0.5s ease, background-color 0.5s ease;

}

.inicio #redes i {
    font-size: 40px;
    color: rgb(80, 0, 98)
}

.inicio #redes a:hover {
    transform: translateY(-10px);
    background-color: rgb(120, 0, 136);
}

.inicio #redes a:hover i {
    color: white;
}

.inicio button {
    background-color: rgb(120, 0, 136);
    cursor: pointer;
    border: 2px solid white;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    z-index: 15; 
    position: relative; 
    overflow: hidden; 
}

.inicio button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    --tw-text-opacity: 1;
    background-color: rgb(192 132 252 / var(--tw-text-opacity));
    z-index: -1;
    transition: width 1s; 
}

.inicio button:hover::after {
    width: 100%; 
}


.inicio a{
    text-decoration: none;
    color: white;
}
.





/*se agregarán estilos a cada sección*/

/*Sobre mi con la fotografia*/
#sobremi {
    height: 100vh;
}

.img-personal {
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid transparent;
}

.sobre-mi h1 {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))
}

.sobre-mi {
    max-width: 600px;
   
}

.contenedor-sobre-mi {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 10%;
    justify-content: space-between;
}


/*CURRICULUM*/
.curriculum{
    margin-bottom: 200px;
}
.curriculum h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    
}


.curriculum .fila {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    margin-bottom: 25px;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))

}

.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
    
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}



.curriculum .fila .izq{
    --tw-text-opacity: 1;
    border-right: 5px solid rgb(192 132 252 / var(--tw-text-opacity));
    margin-right: 20px;
    
}
.curriculum .fila .der{
    --tw-text-opacity: 1;
    border-left: 5px solid rgb(192 132 252 / var(--tw-text-opacity));
    margin-left: 20px;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #003366;
    border-radius: 15px;
    position: relative;
    
}

.curriculum .fila .item h4 {
    margin-bottom: 10px;
}

.curriculum .fila .item a{
    text-decoration: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}


.curriculum .fila .item .casa {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
    font-size: 22px;
    font-weight: bold;
    display: block;
    
}

.curriculum .fila .item .fecha {
    display: block;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

/* Conectores y puntos */
.curriculum .fila .item .conectori{
    height: 2px;
    --tw-text-opacity: 1;
    background-color: rgb(192 132 252 / var(--tw-text-opacity));
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    --tw-text-opacity: 1;
    background-color: rgb(192 132 252 / var(--tw-text-opacity));
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    --tw-text-opacity: 1;
    background-color: rgb(192 132 252 / var(--tw-text-opacity));
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    --tw-text-opacity: 1;
    background-color: rgb(192 132 252 / var(--tw-text-opacity));
    float: left;
    position: relative;
    bottom: 4px;
}


.curriculum .izquierda {
    margin-right: 10px;
}

.curriculum .derecha {
    margin-left: 10px;
}

.curriculum col {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}










/*Estilos generales de la letra y espaciado de las otras secciones*/
.mas-info {
    padding: 50px 15px;
    text-align: center;
}

.mas-info h1 {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}


/*Mis habilidades*/
#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 150px;
}

.skills-container{
    margin: 0px auto;
    padding: 40px 20px;

}

.skills-container .skill-item-with-image {
    padding: 10px;
    background-color: #003366;
}

.skill-item-with-image {
    --tw-text-opacity: 1;
    border: 2px solid rgb(192 132 252 / var(--tw-text-opacity));
    padding: 10px;
}

/*Proyectos*/
#proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-bottom: 100px;
}

.proyectos-container {
    border-radius: 10px;
    margin: 0px auto;
    padding: 30px 15px;
    width: 70%;
}

.proyectos-container .projects {
    --tw-bg-opacity: 1;
    background-color: #003366;
    border-radius: 10px;
    padding: 15px;
}

.proyectos-container img {
    --tw-bg-opacity: 1;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    border: 4px solid rgb(135 170 235 / var(--tw-bg-opacity));

}

.projects a {
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}

.card {
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.card-body {
    background-color: rgb(31, 41, 55);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent 50%, rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    color: white;
}

.year-label {
    background-color: purple;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.tech-tags span {
    display: inline-block;
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.card-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 20px;
}

.card-links a {
    text-decoration: none;
    color: #D4A5FF;
    transition: color 0.3s;
}

.card-links a:hover {
    color: #6EC5FF;
}


/* CONTACTO */


.contactame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.info-cont{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
    
}

.info-cont i{
    font-size: 60px;
    margin-right: 20px;
}

.info-cont img {
    transform: rotate(80deg);
    width: 60px;
    margin-right: 10px;
}

.info-cont i:hover {
    transform: translateY(2px);
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    padding: 15px 30px;
    transition: all 0.3s ease;
}

.info-cont i{
    color:  #7e3bd0;
}

.contact-container{
    display: flex;
    justify-content: center;
    
}

.cont-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(123, 52, 208, 0.3);
    border-radius: 15px; 
    box-shadow: 
        0 0 10px rgba(123, 52, 208, 0.4), 
        0 0 20px rgba(123, 52, 208, 0.3), 
        0 0 40px rgba(123, 52, 208, 0.2); 
    width: 45%;
    margin: 5% 0%;
    
}

.contact-container .pixel-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(123, 52, 208, 0.4);
    background: linear-gradient(45deg, #7e3bd0, #9b4dca);
}




.pixel-button {
    background: linear-gradient(45deg, #9b4dca, #7e3bd0);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin: 20px 0;
    padding: 15px 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(123, 52, 208, 0.2);
}



/*GENERALES*/

@media screen and (min-width: 1024px) {
    .inicio {
        margin-bottom: -250px; 
    }
    .contenedor-sobre-mi{
        margin-bottom: -20px; 
    }


}

@media screen and  (max-width: 1120px) {

    .skills-container .skill-item-with-image img{
        width: 60px;
    }

    body h1 {
        font-size: 35px;
    }

    .contenedor-sobre-mi {
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }

    .sobre-mi {
        border: solid 4px black;
    }

    .mas-info {
        margin-top: 100px;
    }

    .inicio #redes a {
        width: 65px;
        height: 65px;
        margin-right: 15px;

    }

    .inicio #redes i {
        font-size: 35px;
        color: rgb(80, 0, 98)
    }


    .skills-container {
        width: 100%;
    }

    .certificados-container {
        width: 350px;
    }

    .certificados-container .certis {
        width: 300px;
    }

    .proyectos-container {
        width: 350px;
    }

    .proyectos-container .projects {
        width: 300px;
    }
    .proyectos-container .card {
        max-width: 70%;  
    }
    .overlay {
        padding: 15px; 
    }
    .project-title {
        font-size: 1.3em; 
    }
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
        z-index: 1000; 
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    
}

@media screen and (max-width: 700px) {
    .sobremi .fila {
        display: block;
    }
    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }
    .skills .fila .col {
        width: 100%;
    }
    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }
    .curriculum .fila .col {
        width: 90%; 
    }
    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto {
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }
    .contacto .fila .col {
        width: 100%;
    }
}

@media screen and  (max-width: 600px) {
    .contact-container {
        width: 90%;
        margin: 5% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 150px;
    }

    .cont-contacto {
        width: 100%;
        padding: 0px 20px;
        margin: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactame h1 {
        font-size: 24px;
        margin: 10px 0;
        text-align: center;
    }

    .contact-info h2{
        display: flex;
        flex-direction: row;
    }

    .contact-info .tel h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info-cont {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-cont h2 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .info-cont i {
        font-size: 40px;
    }

    .info-cont img {
        width: 40px;
    }

    .pixel-button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }

    .contenedor-sobre-mi{
        margin-bottom: 80%;
    }

    .curriculum{
        margin-top: 80%;
    }

    .skills-container{
        padding: 80px;
    }

    

}

@media screen and  (max-width: 400px) {
    .contactame h1 {
        font-size: 20px;
    }

    .contact-info h2{
        display: flex;
        flex-direction: row;
    }
    
    .contact-info .tel h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  

    .info-cont h2 {
        font-size: 16px;
    }

    .info-cont i {
        font-size: 30px;
    }

    .info-cont img {
        width: 30px;
    }

    .pixel-button {
        font-size: 12px;
        padding: 8px 15px;
    }

    .contenedor-sobre-mi{
        margin-bottom: 600px;
    }
}


/*MAS ESPECIFICAS*/
@media screen and (width: 768px) and (height: 1024px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 300px;
    }

    .cont-contacto {
        padding: 10px;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

   
    .contact-info i {
        font-size: 45px;
        
    }
    

}

@media screen and (width: 820px) and (height: 1180px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 400px;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }


    .contact-info i {
        font-size: 45px;
        
    }


}

@media screen and (width: 1024px) and (height: 1366px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 60%;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .contact-info i {
        font-size: 45px;
        
    }
    

}

@media screen and (width: 912px) and (height: 1368px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 60%;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

 
    .contact-info i {
        font-size: 45px;
        
    }
    
    .contenedor-sobre-mi {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (width: 853px) and (height: 1280px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 60%;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }


   
    .contact-info i {
        font-size: 45px;
        
    }


    .contenedor-sobre-mi {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10%;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

  
    .contact-info i {
        font-size: 45px;
        
    }
    
 

    .contenedor-sobre-mi {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (width: 1280px) and (height: 800px) {
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10%;
    }

    .cont-contacto {
        padding: 10px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactame h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contact-info h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
    }

  
    .contact-info i {
        font-size: 45px;
        
    }
    
  

    .contenedor-sobre-mi {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 540px) {
    .contenedor-sobre-mi{
        margin-bottom: 100%;
    }
}

@media screen and  (max-width: 414px) {
    .contenedor-sobre-mi{
        margin-bottom: 600px;
    }
    
   .curriculum{
    margin-top: 400px;
   }
}

@media screen and (max-width: 768px) {
    body::before {
        background-attachment: scroll;
    }

    .contact-container {
        width: 100%; 
        padding: 50px; 
    }

    .contactame h1 {
        font-size: 22px;
    }

    .contact-info h2 {
        font-size: 16px; 
    }

    .proyectos-container {
        width: 100%; 
    }
    .card {
        max-width: 90%;
    }
    .tech-tags span {
        padding: 3px 7px; 
        font-size: 0.9em; 
    }
    .card-links a {
        font-size: 18px; 
    }

}

@media screen and (max-width: 480px) {
    body {
        background-position: center;
    }

    .proyectos-container .card {
        max-width: 100%; /
    }
    .overlay {
        padding: 10px; 
    }
    .project-title {
        font-size: 1.1em; 
    }
    .tech-tags span {
        margin-right: 3px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1120px) {
    .proyectos-container .card {
        max-width: 80%; 
        margin: 0 auto;
    }
    
    .card-body {
        padding: 15px; 
    }

    .overlay {
        padding: 15px; 
    }

    .project-title {
        font-size: 1.2em; 
    }

    .tech-tags span {
        padding: 4px 8px; 
        font-size: 0.9em; 
    }

    .card-links a {
        font-size: 16px; 
    }
}
