body {
    /*background-color: rgb(0, 45, 74);*/
    color: white;

    --tw-bg-opacity: 1;
    background: rgb(17 24 39/var(--tw-bg-opacity));
}

/*luego se borraran*/
.header{
    border: solid 1px black;

}
.navbar{
    border: solid 1px black;
}

/*Estilos para el navbar y cabezera*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    margin-left: 35px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(135, 170, 235);
}

.navbar .container{
    display: flex;
    flex-direction: column;
}

/*Estilo de boton despegable del navbar*/
#navbarNavAltMarkup a{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}


.container button{
    /*--tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));*/
    background-color: rgb(151, 151, 151);
    margin-right: 10px;
}

/*Estilos de mi nombre como logo*/
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover{
    color: rgb(135, 170, 235);
}




/*se agregarán estilos a cada sección*/

/*Sobre mi con la fotografia*/
.img-personal {
    display: flex;
    width: 300px; 
    height: 300px;
    border-radius: 50%; 
    border: 10px solid transparent;
}

.sobre-mi h1{
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity))
}

.sobre-mi{
    max-width: 600px;
    border: solid 2px black;
}

.contenedor-sobre-mi{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

/*Estilos generales de la letra y espaciado de las otras secciones*/
.mas-info{
    padding: 50px;
}

.mas-info h1{
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}






/*Mis habilidades*/
.skills-container h3{
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

/*Certificados*/
.certificados-container{
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding: 30px;
}

.certificados-container .certis{
    --tw-bg-opacity: 1;
    background-color:#003366;
    border-radius: 10px;
    padding: 10px 0px 10px;
    
}

.certis a{
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}




/*Diseño de Proyectos*/
.proyectos{
    padding: 50px;
}







@media (max-width: 1120px) {
 
    .contenedor-sobre-mi{
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }
    .sobre-mi{
        border: solid 4px black;
    }
}